<div class="container bg-white">
  
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>


  <div class="full sliderWrap negativeMargins">
    
    <div class="outerForm">
      <h3 class="mb-3">Find By Vehicle</h3>
      <form>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Choose Manufacturer</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Maruati</option>
            <option>Hyundai</option>
            <option>Honda</option>
            <option>TATA</option>
            <option>Mahindra</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Choose Model</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Creata</option>
            <option>Grand I10</option>
            <option>Accent</option>
            <option>Venue</option>
            <option>Eon</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Choose Varient</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>


        <button type="submit" class="btn btn-block btn-primary btn-theme" >Sign in</button>
        </form>

    </div>

  </div>




  <div class="">
    <div class="title mt-4"><h2>Category</h2></div>
    <div class="row row-cols-1  row-cols-sm-4 row-cols-md-6 abc">
      <div class="col">
        <div>Air Conditioning</div>
      </div>
      <div class="col">
        <div>BODY PARTS</div>
      </div>
      <div class="col">
        <div>BRAKE SYSTEM</div>
      </div>
      <div class="col">
        <div>Air Conditioning</div>
      </div>
      <div class="col">
        <div>Air Conditioning</div>
      </div>
      <div class="col">
        <div>BODY PARTS</div>
      </div>
      <div class="col">
        <div>BRAKE SYSTEM</div>
      </div>
      <div class="col">
        <div>Air Conditioning</div>
      </div>
    </div>
  </div>

  <div>
    <div class="title mt-4"><h2>Brand</h2></div>
    <div class="row row-cols-1  row-cols-sm-4 row-cols-md-6 abc">
      <div class="col">
        <div>MARUTI SUZUKI</div>
      </div>
      <div class="col">
        <div>HYUNDAI</div>
      </div>
      <div class="col">
        <div>TOYOTA</div>
      </div>
      <div class="col">
        <div>HONDA</div>
      </div>
      <div class="col">
        <div>VOLKSWAGEN</div>
      </div>
      <div class="col">
        <div>NISSAN</div>
      </div>
      <div class="col">
        <div>RENAULT</div>
      </div>
      <div class="col">
        <div>Air Conditioning</div>
      </div>
    </div>
  </div>


</div>